<div class="page-header">
  <h1>Hello, <%= @user.first_name %>
    <br>
      <small>
      
      </small>
  <h1>
</div>




<div class= "page-header">
  <h3>Your array activity</h3>
</div>

<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="<%= 'active' if current_page?(current_user)%>">
  <%= link_to "Effieciency over time", current_user %></li>
  <li class="<%= 'active' if current_page?("/users/show/2")%>">
  <%= link_to "Use during the day", "/users/show/2" %></li>
  <li class="<%= 'active' if current_page?("/users/show/3")%>">
  <%= link_to "Alerts sent", "/users/show/3" %></li>
  <li class="<%= 'active' if current_page?("/users/show/4")%>">
  <%= link_to "Weather in your area", "/users/show/4" %></li>
</ul>
