<div class="container">
  <div class="page-header">
    <h1>Hello, <%= @user.first_name %> <%= @user.last_name %>
      <br>
        <small>
          <%= link_to("Edit your info", edit_user_path) %>
        </small>
    <h1>
  </div>

  <div class="list-group">
    <h4 class="list-group-item-heading">Your address</h4>
    <p class="list-group-item-text"><%= current_user.address_street_number %>
       <%= current_user.address_street %> <br> <%= current_user.address_city %>,
       <%= current_user.address_state %> <%= current_user.address_zip %>
       </p>
  </a>
</div>
