<%= render 'weather/form' %>
<%= link_to("Edit your info", edit_user_path, class:"btn btn-primary btn-sm") %>

<% if current_user.address_zip !=  (nil || "")%>
<% data_sensor_weekly_graph = [[Time.now.to_date, sensor_percentage_average_x_days_ago(0)],
[(Time.now-1.day).to_date, sensor_percentage_average_x_days_ago(1)],
[(Time.now-2.day).to_date, sensor_percentage_average_x_days_ago(2)],
[(Time.now-3.day).to_date, sensor_percentage_average_x_days_ago(3)],
[(Time.now-4.day).to_date, sensor_percentage_average_x_days_ago(4)],
[(Time.now-5.day).to_date, sensor_percentage_average_x_days_ago(5)],
[(Time.now-6.day).to_date, sensor_percentage_average_x_days_ago(6)],
[(Time.now-7.day).to_date, sensor_percentage_average_x_days_ago(7)],
] %>
<% data_past_cloud_cover = [[Time.now.to_date, weather_x_days_ago_hash(0)["cloudCover"]],
[(Time.now-1.day).to_date, weather_x_days_ago_hash(1)["cloudCover"]],
[(Time.now-2.day).to_date, weather_x_days_ago_hash(2)["cloudCover"]],
[(Time.now-3.day).to_date, weather_x_days_ago_hash(3)["cloudCover"]],
[(Time.now-4.day).to_date, weather_x_days_ago_hash(4)["cloudCover"]],
[(Time.now-5.day).to_date, weather_x_days_ago_hash(5)["cloudCover"]],
[(Time.now-6.day).to_date, weather_x_days_ago_hash(6)["cloudCover"]],
[(Time.now-7.day).to_date, weather_x_days_ago_hash(7)["cloudCover"]],
] %>

<%= line_chart [{name: "Light level", data: data_sensor_weekly_graph},
  {name: "Cloud cover", data: data_past_cloud_cover}],
  min: 0, max: 1.1%>
<p>
  Powered by Forecast.io
</p>
<% else %>
<br>
<div class="jumbotron">
  <h3>You have not entered your address into our system. In order for sensor and
    weather information to display, you will need to add the address where your solar panels
    are located. </h3>
  <p>Please <%= link_to("edit your info", edit_user_path) %>. Also visit the
    <%= link_to "Tutorial", user_tutorial_path(@user) %> with help on getting started.</p>
</div>
<% end %>

<%= render 'weather/form2' %>
