<%= render 'form' %>
<% if current_user.address_zip != (nil || "") %>
<%= link_to "Full forecast", user_weekly_path(current_user) %>
<%=line_chart next_week_cloud_data, colors: ["red"], min: 0, max: 1.1%>
<p>
  Powered by Forecast.io
</p>
<% else %>
<div class="jumbotron">
  <h3>You have not entered your address into our system. In order for sensor and
    weather information to display, you will need to add the address where your solar panels
    are located. </h3>
    <p>Please <%= link_to("edit your info", edit_user_path(@user)) %>. Also visit the
      <%= link_to "Tutorial", user_tutorial_path(@user) %> with help on getting started. </p>
  </div>
  <% end %>
<%= render "form2" %>
